/* Remove a cor azul do autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px bg-neutral-100 inset !important;
    -webkit-text-fill-color: #000 !important;
    caret-color: #000 !important;
}

/* Delay da transição para evitar piscar */
input:-webkit-autofill {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}