<div class="min-h-screen flex items-center justify-center text-white p-4">
  <div class="w-full max-w-md bg-green-900/9 border border-gray-800 rounded-2xl shadow-2xl p-8 backdrop-blur-xl">
     <h2 class="text-3xl font-medium mb-2 text-center bg-clip-text text-transparent bg-gradient-to-r from-green-200 to-teal-500">
          Bem Vindo de volta!
      </h2>
      <p class="text-gray-400 text-center mb-8">Faça login na sua conta para prosseguir</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
          <label class="block text-sm font-medium text-gray-300 mb-1">Email</label>
          <input
            type="email" 
            formControlName="email"
            placeholder="seu@email.com"
            class="w-full px-4 py-3 bg-gray-800/9 border border-gray-700 rounded-xl focus:ring-2 focus:ring-emerald-500 focus:border-transparent transition-all outline-none text-white placeholder-gray-500"
            >
            <div>
              <label class="block text-sm font-medium text-gray-300 mb-1">Senha</label>
              <input
                type="password" 
                formControlName="password"
                placeholder="••••••••"
                class="w-full px-4 py-3 bg-gray-800/9 border border-gray-700 rounded-xl focus:ring-2 focus:ring-emerald-500 focus:border-transparent transition-all outline-none text-white placeholder-gray-500"
              >
            </div>

          <div *ngIf="errorMsg()" class="bg-destructive/10 border border-destructive/20 text-destructive px-4 py-3 rounded-lg text-sm">
            {{ errorMsg() }}
          </div>

          <button 
            type="submit" 
            [disabled]="loginForm.invalid || isLoading()"
            class="w-full py-3 px-4 mt-2 bg-green-800 bg-gradient-to-r from-green-500 to-emerald-500 hover:from-emerald-600 hover:to-teal-600 text-white rounded-xl font-medium shadow-lg shadow-emerald-500/30 transition-all disabled:opacity-50 flex items-center justify-center">
            <span *ngIf="isLoading()" class="mr-2">
              <svg class="animate-spin h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>
            </span>
            {{ isLoading() ? 'Entrando...' : 'Entrar' }}
          </button>
        </form>
        <p class="mt-8 text-center text-sm text-gray-400">
          Ainda não tem uma conta? 
          <a routerLink="/register" class="text-blue-400 hover:text-blue-300 font-medium transition-colors">Cadastre-se</a>
        </p>
  </div>

</div>
