<div>
  <main class="relative z-10 max-w-4xl mx-auto h-[calc(100vh-80px)] flex flex-col justify-center items-center text-center px-4">
    <h1 class="text-4xl md:text-6xl font-extrabold text-green-50 tracking-tight drop-shadow-md">
      Otimize o Cultivo de <span class="text-purple-400">Orquídeas</span>
    </h1>
    <p class="mt-4 text-lg md:text-xl text-stone-200 max-w-2xl drop-shadow-sm">
      Gerencie o ciclo biológico, cruzamentos e registros de forma simplificada, limpa e eficiente.
    </p>
    <div class="mt-8 flex gap-4"> 
    </div>
  </main>

</div>